<section>
  <h2>Responsive grid using columns</h2>

  <pre>
    [cols]="1"
    [cols.sm]="2"
    [cols.md]="3"
    [cols.lg]="4"
    [gap]="10"
    [gap.md]="15"
    [gap.lg]="20"
  </pre>

  <ul grid
      [cols]="1"
      [cols.sm]="2"
      [cols.md]="3"
      [cols.lg]="4"
      [gap]="10"
      [gap.md]="15"
      [gap.lg]="20"
  >
    <li gridItem
        *ngFor="let i of [1, 2, 3, 4]"
        [col.span]="1"
    >
      {{ i }}
    </li>
  </ul>
</section>

<section>
  <h2>Responsive grid using columns and rows</h2>

  <pre>
    [cols]="1"
    [cols.sm]="2"
    [cols.md]="3"
    [cols.lg]="4"
    [rows.sm]="4"
    [gap]="10"
    [gap.md]="15"
    [gap.lg]="20"
  </pre>

  <ul grid
      [cols]="1"
      [cols.sm]="2"
      [cols.md]="3"
      [cols.lg]="4"
      [rows.sm]="4"
      [gap]="10"
      [gap.md]="15"
      [gap.lg]="20"
  >
    <li gridItem
        [col.span]="1"
        [row.span.md]="4"
    >
      1
    </li>
    <li gridItem
        [col.span]="1"
        [row.span.md]="3"
    >
      2
    </li>
    <li gridItem
        [col.span]="1"
        [row.span.md]="4"
    >
      3
    </li>
    <li gridItem
        [col.span]="1"
        [row.span.sm]="3"
        [row.span.md]="1"
    >
      4
    </li>
  </ul>
</section>
