$color-grey: #ccc;
$color-grey-light: #f2f2f2;
$color-white: #fff;

html {
  font-size: 10px;
}

body {
  background-color: $color-grey-light;
  font: 1.5rem/1.25 'Courier New', Courier, monospace;
}

section {
  margin: 0 auto;
  max-width: 1240px;
  padding: 20px;
}

h2 {
  font-size: 2.2rem;
  font-weight: 400;
  margin: 0;
  padding: 0 0 10px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

pre {
  border: 1px dashed $color-grey;
  border-radius: 5px;
  margin: 0 0 10px;
  padding: 10px;
  white-space: pre-line;
}

.ngx-grid {

  &-item {
    background-color: $color-white;
    border-radius: 5px;
    padding: calc(var(--grid-gap) * 1px);
  }
}
